<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.pepedd.drive.mapper.FileMapper">

    <resultMap id="BaseResultMap" type="cn.pepedd.drive.entity.pojo.File">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
            <result property="filename" column="filename" jdbcType="VARCHAR"/>
            <result property="filepath" column="filepath" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="TINYINT"/>
            <result property="suffix" column="suffix" jdbcType="VARCHAR"/>
            <result property="md5" column="md5" jdbcType="INTEGER"/>
            <result property="storageType" column="storage_type" jdbcType="TINYINT"/>
            <result property="size" column="size" jdbcType="BIGINT"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,parent_id,
        filename,filepath,type,
        suffix,md5,storage_type,
        size,status,create_time,
        update_time
    </sql>
</mapper>
